---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE } from '../consts';

---

<header class="bg-beige dark:bg-dark-black text-gray-700 dark:text-beige">
  <div class="flex flex-col justify-center px-8">
    <nav class="flex items-center justify-between w-full relative max-w-4xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-[72px] text-gray-900 bg-beige bg-opacity-60 dark:bg-dark-black dark:text-beige">
      <a href="#skip" class="skip-nav">Skip to content</a>
      <div class="ml-[-0.60rem]">
        <HeaderLink href="/">Blog</HeaderLink>
        <HeaderLink href="https://www.carnav.in/" target="_blank" rel="noopener noreferrer">About</HeaderLink>
      </div>
      <div class="flex items-center">
        <ThemeToggle />
      </div>
    </nav>
  </div>
</header>
<style>
  header {
    margin: 0;
    padding: 0;
  }

  .skip-nav {
    @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
  }
</style>
